{
    "checks": [
        {
            "id": "BUS",
            "name": "Bus",
            "type": "stationboard",
            "query": "station=Renens, Village",
            "min_delay": 2,
            "checks": 5,
            "display": 30,
            "show_dir": true,
            "show_track": false,
            "notify_start": "18:45:00",
            "notify_end": "18:55",
            "check_frequency": 30
        },
        {
            "id": "TRAINS",
            "name": "Trains",
            "type": "stationboard",
            "query": "station=Renens",
            "min_delay": 2,
            "checks": 30,
            "display": 50,
            "show_dir": falsec,
            "show_track": true,
            "notify_start": null,
            "notify_end": null,
            "check_frequency": 120
        }
    ]
}